<%= for bank <- @banks do %>
    <div>
      <div>
        <h2 style="color:black;">
          <%= bank.name %>
        </h2>
      </div>

      <div>
         <h2 style="color:red;">
          <%= bank.website %>
           <p>....</p>
        </h2>
      </div>
    </div>

<% end %>

   


